body{
    background-color: #ffb703 !important;
}
h1{
    text-align: center;
}
#add{
    border-radius: 5px 5px 5px;
    border-style: outset;
    padding: 8px;
    border-radius: 10px 15px 10px;
    box-shadow: 2px 2px 2px;
    margin: 5px;
}
#home{
    border-radius: 5px 5px 5px;
    border-style: outset;
    padding: 8px;
    border-radius: 10px 15px 10px;
    box-shadow: 2px 2px 2px;
    margin: 5px;
}
#heading{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#choices{
    padding: 25px;
    display: flex;
}
#courses{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.subject{
    background-color: aliceblue;
    padding: 15px ;
    margin: 15px;
    border-radius: 10px 15px 10px;
    box-shadow: 4px 4px 4px;
}
button{
    border-radius: 10px 10px 10px;
    box-shadow: 2px 2px 2px;
}
#subjectForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
